# JWT
SECRET_KEY=your_secret_key
ALGORITHM=hash_algorithm
ACCESS_TOKEN_EXPIRE_MINUTES=10
REFRESH_TOKEN_EXPIRE_DAYS=100
DUMMY_HASHED_PASSWORD=your_dummy_hashed_password

# POSTGRES
DB_HOST=your_db_host
DB_PORT=your_db_port
DB_NAME=your_db_name
DB_USER=your_db_user
DB_PASSWORD=your_db_password

# REDIS
REDIS_HOST=your_redis_host
REDIS_PORT=your_redis_port
REDIS_DB=your_redis_db

# CELERY
CELERY_BROKER_URL=your_celery_broker_url
CELERY_RESULT_BACKEND=your_celery_result_backend

# EMAIL
EMAIL_HOST=smtp.yandex.ru
EMAIL_PORT=
EMAIL_USERNAME=
EMAIL_PASSWORD=


# MINIO
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_SECURE=